.header {
  padding: 5px;
  text-align: center;
  background: green;
  color: white;
  font-size: 30px;
}

label {
  /*
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  */
  text-align: center;
  width: 100px;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
  height: 30px;
  flex: 0 0 200px;
  margin-left: 10px;
}
.card {
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
